/* Reset default margins and paddings and set the outline none for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* Body general styling */
body {
    font-family: 'Inter', serif;
    background-color: #ffffff;
}

/* Style a class called padding-inline-val to controlt the inline padding */
.padding-inline-val {
    padding-inline: 160px;
}

/*
    First Section, Navigation Bar Section:
      - Navigation Bar for the larger sereens such as Laptops.
      - Menu or Side Drawer for smaller screens such as phones.
*/

/* Case One -> Navigation Bar */

/* Navigation bar container */
.nav-bar {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 88px;
    padding: 28px 160px;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    gap: 183.5px;
}

/* Logo section */
.logo {
    width: 70px;
    height: 32px;
}

.logo h1 {
    height: 32px;
    width: 167px;
    font-weight: 700px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.5px;
    vertical-align: middle;
    text-transform: uppercase;
    color: rgba(149, 149, 149, 1);
}

/* Nav bar elements */
.nav-bar nav ul {
    height: 18px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.nav-bar nav ul li a {
    height: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    overflow: hidden;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: rgba(56, 60, 62, 1);
}

/* Active link style */
.nav-bar nav ul li a.active {
    border-bottom: 2px solid rgba(0, 143, 23, 1);
}

/* Hover effect for links */
.nav-bar nav ul li a:hover {
    color: rgba(0, 143, 23, 1);
}

/* Case Two -> Menu or Side Drawer */

/* Show overlay when drawer is open */
.drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1050;
    display: none;
}

/* When the side drawer or the menue open, the overlay will display */
.drawer-overlay.show {
    display: block;
}

/* Side Drawer or Menu style */
.side-drawer {
    position: fixed;
    top: 0;
    left: -50%;             
    width: 50%;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    z-index: 1100;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    transition: left 0.3s;
}

/*When the side drawer open, it will show by change the left value*/
.side-drawer.open {
    left: 0;
}

.drawer-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    font-size: 28px;
    cursor: pointer;
    color: #444;
}

/* Side Drawer Logo */
.side-drawer h1 { 
    width: 100%;
    height: 80px;
    padding: 10px 0px;
    font-size: 40px;
    font-family: Verdana, sans-serif;
    color: rgb(149, 149, 149);
}

/* Drawer links */
.side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 10px;
}

.side-drawer ul li {
    height: 40px;
    padding: 10px;
}

.side-drawer ul li a {
    color: rgb(50, 60, 62);
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-decoration: none;
}

/* Active link style */
.side-drawer ul li a.active {
    border-bottom: 2px solid rgba(0, 143, 23, 1);
}

/* Hover link style */
.side-drawer ul li a:hover {
    color: rgba(0, 143, 23, 1);
}

/* Menue Icon */
.menu {
    display: none;
    cursor: pointer;
    z-index: 1200;
    padding-top: 16px;
    padding-inline-start: 40px;
}

.menu img {
    width: 24px;
    height: 24px;
    transition: transform 0.2 ease;
    cursor: pointer;
}

.menu img:active {
    transform: scale(1.1);
}

/* Container Section */
.container {
    /* To make the container section start after the nav bar section */
    margin-top: 88px;
    padding-block: 80px;
    display: grid;
    /* Declare two rows -> 150px, and 1140px */
    grid-template-rows: 146px 1140px;
    row-gap: 80px;
    /* Declare two columns -> 4fr, and 3fr */
    grid-template-columns: 4fr 3fr;
    column-gap: 215px;
    width: 100%;
}

/* First Section in the container -> Main Section*/
.main-section {
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 1px;
    gap: 24px;
}

.main-section h1 {
    height: 70px;
    font-size: 44px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.2px;
    color: rgba(56, 60, 62, 1);
}

.main-section p {
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.3px;
    color: rgba(115, 123, 125, 1);
}

/* Second section in the container -> Form Section */
.form-section {
    grid-row: 2;
    grid-column: 1 / 2;
    padding-block: 10px;
}

form {
    width: 100%;
    height: 1076px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* First Section in The Form - Inputs Sections */
.form-section-inputs {
    width: 100%;
    height: 762px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 24px;
} 

.form-group {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-block: 12px;
}

.form-group .row {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.form-group .address-div {
    width: 63%;
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-group .postcode-div {
    width: 33%;
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-group input {
    width: 100%;
    height: 38px;
    border: none;
    border-bottom: 2px solid rgba(115, 123, 125, 1);
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: rgba(142, 142, 142, 1);
    outline: none;
}

.form-group .address-div input{
    width: 100%;
    height: 38px;
    border: none;
    border-bottom: 2px solid rgba(115, 123, 125, 1);
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: rgba(142, 142, 142, 1);
    outline: none;
}

.form-group .postcode-div input{
    width: 100%;
    height: 38px;
    border: none;
    border-bottom: 2px solid rgba(115, 123, 125, 1);
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: rgba(142, 142, 142, 1);
    outline: none;
}

.error-message {
    width: 100%;
    height: 16px;
    font-size: 10px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    text-align: start;
    vertical-align: middle;
    padding-top: 12px;
    color: rgba(212, 13, 13, 1);
}

/* Second Section of The Form - Upload File Section */
.form-section-upload-files {
    width: 100%;
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 40px;
}

.form-section-upload-files .upload {
    width: 100%;
    height: 104px;
    padding: 12px;
    border: 1px dashed rgba(142, 142, 142, 1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.form-section-upload-files .upload-label {
    width: fit-content;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    gap: 24px;
    z-index: 20;
}

.form-section-upload-files .upload-label img {
    height: 21px;
}

.form-section-upload-files .upload-label p {
    height: 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: rgba(142, 142, 142, 1);
}

.form-section-upload-files p {
    height: 16px;
    font-size: 10px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: rgba(142, 142, 142, 1);
}

/* Third Section of The Form - Submit Sections */
.form-submit {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.form-submit button {
    width: 100%;
    height: 54px;
    border: none;
    background-color: rgba(0, 143, 23, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.5px;
    padding-inline: 1px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

.form-submit button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 143, 23, 1);
  border: 2px solid rgba(0, 143, 23, 1);
}

/* Fourth Section of The Form - Check Section */
.form-check {
    width: fit-content;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 12px 16px 12px 4px;
}

.form-check label {
    width: 95%;
    height: 22px;
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    vertical-align: middle;
    letter-spacing: 0.5px;
    padding-top: 1px;
    color: rgba(56, 60, 62, 1);
}

.form-check input {
    height: 20px;
    width: 20px;
}

.form-check input:checked {
    accent-color: green;
}

/* Third section in the container -> sider section */
.side-section {
    width: 100%;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;
    padding-block: 10px;
}

/* Offices Section */
.offices-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}

.offices-section h2 {
    width: 100%;
    height: fit-content;
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: rgba(56, 60, 62, 1);
}

.offices-info {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.office-card {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.office-card p {
    width: 100%;
    height: fit-content;
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    color: rgba(56, 60, 62, 1);
}

/* For Quick Inquiries Section */
.quick-inquiries-section {
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}

.quick-inquiries-section h2 {
    width: 100%;
    height: 26px;
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: rgba(56, 60, 62, 1);
}

.quick-inquiries-info {
    width: 73.39%;
    height: 76px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.quick-inquiries-card {
    width: 100%;
    height: 76px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.quick-inquiries-card img {
    width: 23px;
    height: 26px;
    padding-block: 5px;
}

.quick-inquiries-card p {
    width: 100%;
    height: 26px;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: rgba(56, 60, 62, 1);
}

/* Subscrine for Email Section */
.subscrine-for-email-section {
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}

.subscrine-for-email-section h2 {
    width: 100%;
    height: 26px;
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: rgba(56, 60, 62, 1);
}

.subscrine-for-email-card {
    width: 100%;
}

.subscrine-for-email-card  form {
    width: 100%;
    height: 76px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.email-group input {
    width: 73.39%;
    height: 38px;
    border: none;
    border-bottom: 2px solid rgba(115, 123, 125, 1);
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.5px;
    vertical-align: middle;
    color: rgba(142, 142, 142, 1);
    outline: none;
    margin-top: 12px;
}

.subscrine-for-email-card button {
    width: 71px;
    height: 50px;
    border: none;
    background-color: rgba(0, 143, 23, 1);
    vertical-align: center;
}

.subscrine-for-email-card button img {
    width: 18px;
    height: 18px;
}

.subscrine-for-email-card button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 143, 23, 1);
  border: 2px solid rgba(0, 143, 23, 1);
}

.subscrine-for-email-card button:hover img{
  content: url("assets/check-mark-svgrepo-hover-com.svg");
}


/*  Responsive Page Section */

/* Extra large devices (large laptops and desktops, 1250px and up) -> by default*/

/* Large devices (laptops/desktops, 1260px and up) */
@media only screen and (max-width: 1260px) {
    .padding-inline-val {
        padding-inline: 50px;
    }

    .nav-bar {
        gap: 150px;
    }

    .nav-bar nav ul {
        gap: 28px;
    }

    .container {
        column-gap: 90px;
    }
}

/* Large devices (laptops/desktops, 900px and up) */
@media only screen and (max-width: 900px) {
    .padding-inline-val {
        padding-inline: 30px;
    }

    .nav-bar {
        gap: 40px;
    }

    .nav-bar nav ul {
        gap: 15px;
    }

    .container {
        column-gap: 50px;
    }
}

/* Medium devices (landscape tablets, 770px and up) */
@media only screen and (max-width: 770px) {
    .padding-inline-val {
        padding-inline: 60px;
    }

    .menu {
        display: block;
        margin-top: 30px;
    }

    .nav-bar {
        display: none;
    }

    .container {
        margin-top: 0px;
        padding-block: 60px;
        grid-template-columns: 1fr;
        column-gap: 0px;
        grid-template-rows: 146px 1140px  690px;
        row-gap: 60px;
        width: 100%;
    }

    .side-section {
        grid-row: 3;
        grid-column: 1;
        gap: 60px;
    }
}

/* Small devices (portrait tablets and large phones, 660px and up) */
@media only screen and (max-width: 660px) {

    .padding-inline-val {
        padding-inline: 30px;
    }

    .side-drawer {
        padding-inline: 20px;
    }

    .side-drawer h1 { 
        font-size: 30px;
    }

    .side-drawer ul {
        padding-inline: 5px;
    }

    .side-drawer ul li a {
        font-size: 16px;
    }
}

/* Extra small devices (phones, 425px and down) */
@media only screen and (max-width: 430px) {

    .menu {
        padding-top: 16px;
        padding-inline-start: 16px;
    }

    .menu img {
        width: 21px;
        height: 18px;
    }

    .container {
        margin-top: 0px;
        padding-block: 32px;
        grid-template-columns: 1fr;
        column-gap: 0px;
        grid-template-rows: 146px 1100px 690px;
        row-gap: 60px;
        width: 100%;
    }

    .main-section {
        padding-left: 3px;
        gap: 16px;
    }

    .main-section h1 {
        font-size: 36px;
    }

    .main-section p {
        font-size: 14px;
    }

    .form-section-inputs {
        height: 848px;
        gap: 4px;
        margin-bottom: 32px;
    }

    .form-group {
        height: 82px;
    }

    .form-group .row {
        height: 168px;
        flex-direction: column;
    }

    .form-group .address-div {
        width: 100%;
        height: 82px;
    }

    .form-group .postcode-div {
        width: 100%;
        height: 82px;
    }

    .form-group input {
        height: 34px;
        font-size: 14px;
    }

    .form-group .address-div input{
        height: 34px;
        font-size: 14px;
    }

    .form-check label {
        font-size: 12px;
    }

    .office-card p {
        font-size: 14px;
    }

    .quick-inquiries-card p {
        font-size: 14px;
    }

    .email-group input {
        font-size: 14px;
    }

    .side-drawer {
        padding-inline: 5px;
        gap: 10px;
    }

    .side-drawer h1 { 
        font-size: 25px;
        height: 40px;
    }

    .side-drawer ul {
        padding: 5px 2px;
        gap: 8px;
    }

    .side-drawer ul li {
        height: 30px;
    }

    .side-drawer ul li a {
        font-size: 12px;
    }

    .form-check label {
        font-size: 12px;
        padding-top: 1px;
    }

    .form-check input {
        height: 16px;
        width: 16px;
    }
}